* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

section {
    padding: 60px 10%;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    color: #38bdf8;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    background: #38bdf8;
    color: #000;
    border-radius: 5px;
}

.buttons .outline {
    background: transparent;
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

/* ABOUT */
.about p {
    max-width: 700px;
    margin-top: 15px;
}

/* SKILLS */
.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-grid div {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

/* PROJECTS */
.project-card {
    background: #020617;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
}

/* CONTACT */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* TOGGLE BUTTON */
#themeToggle {
    position: fixed;
    top: 15px;
    right: 20px;
    padding: 8px 12px;
    cursor: pointer;
}
